# Don't track your virtual environment
.venv/

# Don't track API credentials
oauth2.json

# Don't track config with league ID
src/config.py

# Ignore compiled files
__pycache__/
*.pyc

# Keep GUID for each player hidden
.valid_owner_map.csv

# Keep previous team names hidden for manual mapping
.manual_owner_map.csv

.DS_Store